<div style="height:30px;border:1px solid brown;">
    {% if is_classroom and account_type == 'teacher' %}
        <input type="radio" checked="checked" data-user-hash="%user_hash%" name="share_test_to_group" data-test-hash="%test_hash%" id="ch_%zone_id%_unshare" class="share_test_to_group" value="unshare" /> <label style="display:inline;" for="ch_%zone_id%_unshare">Unshared</label>
        <input type="radio" data-user-hash="%user_hash%" name="share_test_to_group" data-test-hash="%test_hash%" id="ch_%zone_id%_share" class="share_test_to_group" value="share" /> <label style="display:inline;" for="ch_%zone_id%_share">Shared</label>
        <input type="button" class="request_test_progress" data-user-hash="%user_hash%" data-test-hash="%test_hash%" value="See progress" />
    {% elseif is_classroom and account_type == 'student' %}
        <input type="radio" checked="checked" name="share_test_to_group" data-test-hash="%test_hash%" id="ch_%zone_id%_unfinished" class="set_test_finished" value="unfinished" /> <label style="display:inline;" for="ch_%zone_id%_unfinished">Not finished</label>
        <input type="radio" name="share_test_to_group" data-test-hash="%test_hash%" id="ch_%zone_id%_finished" class="set_test_finished" value="finished" /> <label style="display:inline;" for="ch_%zone_id%_finished">Finished</label>
    {% endif %}
</div>
<h3 style="margin:0">Preview of "{{ test_details.test_name_public }}" test</h3>
{% for item in test_questions %}
    <b>{{ item.question }}</b>
    <br />
    {% if item.question_type == 'text' %}
        <input type="text" name="inp_{{ answers.id }}" class="inp_{{ answers.id }}" value="" />
        <br />
    {% elseif item.question_type == 'radio' %}
        {% for answers in item.answers %}
            <input type="radio" name="inp_{{ answers.id }}" class="inp_{{ answers.id }}" value="1" /> {{ answers.option_value }}
            <br />
        {% endfor %}
    {% elseif item.question_type == 'checkboxes' %}
        {% for answers in item.answers %}
            <input type="checkbox" class="inp_{{ answers.id }}" class="inp_{{ answers.id }}" value="1" /> {{ answers.option_value }}
            <br />
        {% endfor %}
    {% endif %}
    <div class="sep"></div>
{% endfor %}
{{ test_placeholder|raw }}
