{% extends '::base_account_teacher.html.twig' %}
{% block body %}
    <h3>Tests list</h3>
    <a href="javascript:;" onclick="jQuery('#add_item').toggle();" class="btn btn-success">Create test</a>
    <div style="{% if modify_data|length %}{% else %}display:none;{% endif %}" id="add_item">
        <fieldset>
            <legend>Create test</legend>
        </fieldset>
        <form action="" method="post">
            <label for="test_name_public">Public name (visible to students):</label>
            <input type="text" id="test_name_public" name="test_name_public" value="{{ modify_data.test_name_public }}" required="required" />
            <div class="sep"></div>
            <label for="test_name_private">Private name (visible only by you):</label>
            <input type="text" id="test_name_private" name="test_name_private" value="{{ modify_data.test_name_private }}" required="required" />
            <div class="sep"></div>
            <label for="test_desc">Test description:</label>
            <textarea id="test_desc" name="test_desc" required="required">{{ modify_data.test_desc }}</textarea>
            <div class="sep"></div>
            <label for="test_type">Test type:</label>
            <select name="test_type" id="test_type">
                <option value="quiz" {% if modify_data.test_type == 'quiz' %}selected="selected"{% endif %} >Quiz</option>
                <option value="placeholder" {% if modify_data.test_type == 'placeholder' %}selected="selected"{% endif %} >Placeholder</option>
            </select>
            {% if modify_data|length %}
                <input type="hidden" name="test_id" value="{{ modify_data.id }}" />
            {% endif %}
            <div class="sep"></div>
            <input type="submit" class="btn btn-success" value="Save">
        </form>
    </div>
    {% if test_list|length %}
        <div class="sep"></div>
        <table class="table">
            <tr>
                <th>
                    Test name public
                </th>
                <th>
                    Test name private
                </th>
                <th>
                    Test description
                </th>
                <th>
                    Test type
                </th>
                <th>
                    Created
                </th>
                <th>
                    Options
                </th>
            </tr>
            {% for item in test_list %}
                <tr>
                    <td>
                        <a href="{{ path('account_teacher_test_questions') }}?test_id={{ item.id }}">{{ item.test_name_public }}</a>
                    </td>
                    <td>
                        {{ item.test_name_private }}
                    </td>
                    <td>
                        {{ item.test_desc }}
                    </td>
                    <td>
                        {{ item.test_type }}
                    </td>
                    <td>
                        {{ item.added|date("Y-m-d") }}
                    </td>
                    <td>
                        <a href="?todo=delete&test_id={{ item.id }}" class="btn btn-danger" onclick="return confirm('Please confirm.');"><i class="icon-trash"></i> Delete</a>
                        <div class="sep"></div>
                        <a href="?todo=modify&test_id={{ item.id }}" class="btn btn-info"><i class="icon-edit"></i> Modify</a>
                        <div class="sep"></div>
                        <a href="{{ path('account_teacher_test_questions') }}?test_id={{ item.id }}" class="btn btn-info"><i class="icon-picture"></i> Manage questions</a>
                        <div class="sep"></div>
                        <a href="{{ path('account_teacher_preview_test') }}?test_id={{ item.id }}" class="btn btn-info"><i class="icon-play"></i> Preview test</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}