{% extends '::base_account_teacher.html.twig' %}
{% block body %}
    <h3>Presentation sheets for "{{ presentation_details.presentation_name }}"</h3>
    <a href="{{ path('account_teacher_create_modify_sheet') }}?presentation_id={{ presentation_details.id }}" class="btn btn-success">Create presentation sheet</a>
    <a href="{{ path('account_teacher_play_presentation') }}?presentation_id={{ presentation_details.id }}" class="btn btn-info"><i class="icon-play"></i> Test presentation</a>
    
    {% if sheets|length %}
        <div class="sep"></div>
        <form method="post" action="">
            <input type="hidden" name="todo" value="save_order" />
            <table class="table">
                <tr>
                    <th>
                        Sheet snapshot
                    </th>
                    <th>
                        Order
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
                {% for item in sheets %}
                    <tr>
                        <td>
                            {{ item.sheet_content|raw }}
                        </td>
                        <td>
                            <input type="text" class="input-small" name="order[{{ item.id }}]" value="{{ item.sheet_order }}" />
                        </td>
                        <td>
                            <a href="?todo=delete&sheet_id={{ item.id }}&presentation_id={{ presentation_details.id }}" class="btn btn-danger" onclick="return confirm('Please confirm.');"><i class="icon-trash"></i> Delete</a>
                            <div class="sep"></div>
                            <a href="{{ path('account_teacher_create_modify_sheet') }}?todo=modify&presentation_id={{ presentation_details.id }}&sheet_id={{ item.id }}" class="btn btn-info"><i class="icon-edit"></i> Modify</a>
                            <div class="sep"></div>
                            <a href="?todo=duplicate&presentation_id={{ presentation_details.id }}&sheet_id={{ item.id }}" class="btn btn-info"><i class="icon-plus-sign"></i> Duplicate</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <input type="submit" class="btn btn-success" value="Save order" style="float:right;" />
                    </td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}