{% extends '::base_account_teacher.html.twig' %}
{% block body %}
    <h3>Presentation list</h3>
    <a href="javascript:;" onclick="jQuery('#add_presentation').toggle();" class="btn btn-success">Create presentation</a>
    <div style="{% if modify_data|length %}{% else %}display:none;{% endif %}" id="add_presentation">
        <fieldset>
            <legend>Create presentation</legend>
        </fieldset>
        <form action="" method="post">
            <label for="presentation_name">Presentation name:</label>
            <input type="text" id="presentation_name" name="presentation_name" value="{{ modify_data.presentation_name }}" required="required" />
            <div class="sep"></div>
            <label for="presentation_desc">Presentation description:</label>
            <textarea id="presentation_desc" name="presentation_desc" required="required">{{ modify_data.presentation_desc }}</textarea>
            {% if modify_data|length %}
                <input type="hidden" name="presentation_id" value="{{ modify_data.id }}" />
            {% endif %}
            <div class="sep"></div>
            <input type="submit" class="btn btn-success" value="Save">
        </form>
    </div>
    {% if presentation_list|length %}
    <div class="sep"></div>
    <table class="table">
        <tr>
            <th>
                Presentation name
            </th>
            <th>
                Presentation description
            </th>
            <th>
                Created
            </th>
            <th>
                Options
            </th>
        </tr>
        {% for item in presentation_list %}
            <tr>
                <td>
                    <a href="{{ path('account_teacher_presentation_sheets') }}?presentation_id={{ item.id }}">{{ item.presentation_name }}</a>
                </td>
                <td>
                    {{ item.presentation_desc }}
                </td>
                <td>
                    {{ item.added|date("Y-m-d") }}
                </td>
                <td>
                    <a href="?todo=delete&presentation_id={{ item.id }}" class="btn btn-danger" onclick="return confirm('Please confirm.');"><i class="icon-trash"></i> Delete</a>
                    <div class="sep"></div>
                    <a href="?todo=modify&presentation_id={{ item.id }}" class="btn btn-info"><i class="icon-edit"></i> Modify</a>
                    <div class="sep"></div>
                    <a href="{{ path('account_teacher_presentation_sheets') }}?presentation_id={{ item.id }}" class="btn btn-info"><i class="icon-picture"></i> Manage sheets</a>
                    <div class="sep"></div>
                    <a href="{{ path('account_teacher_play_presentation') }}?presentation_id={{ item.id }}" class="btn btn-info"><i class="icon-play"></i> Test presentation</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}